@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>MVC Project Tables</h3>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>

</table>
<button class="btn btn-dark">Yeni Kategori Aç</button>
<button class="btn btn-warning">Kategorileri Listele</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>
<button class="btn btn-info">Kategori Sil</button>