@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>All Abouts</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>About</th>
        <th>Activate</th>
        <th>Deactivate</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Details1</td>
            <td><a href="#" class="btn btn-success">Activate</a></td>
            <td><a href="#" class="btn btn-danger">Deactivate</a></td>
        </tr>
    }
</table>

<button class="btn btn-dark" data-toggle="modal" data-target="#Modal1">Create New</button>

@Html.Action("PVAbout", "About")